<!DOCTYPE html>
<html>
  <head>
    <title>Schoolmanagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="mysidebar">
      
  		<ul>
        <li> <%= link_to "Home",root_path%></li>
        <% if current_user && current_user.can_update?(User.new) %>
            <li> <%= link_to "Gestion de Usuarios",users_path%></li>
        <% end %>
  			<li> <%= link_to "Gestion de Estudiantes",students_path%></li>
  			<li> <%= link_to "Gestionde Cursos",grades_path%></li>
  			<li> <%= link_to "Gestion Materias",signatures_path%></li>
  		</ul>  		
  	</div>
  	<div class= "container">
      <% flash.each do |key, value| %> 
        <% if value.is_a?(Array) %>
          <% value.each do |element|%>
            <div class="alert alert-<%= key %> alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= element %>                
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= key %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>            
          </div>
        <% end %>        
      <% end %>

  		<%= yield %>
  	</div>
			
  </body>
</html>


